doctype html
html(lang="fr")
head
    include ./includes/head.pug

    title Title

body.home
    include ./includes/header.pug

    section.boxed
        div.content
            h2  Hello
            div
                p Pug & Sass Template that rocks !
            a.button(href="https://github.com/tameroski/Spugss") More

    include ./includes/footer.pug
