.container {
    @include margin(null auto);
    @include padding(null $base-spacing);
    max-width: 1200px;
    overflow-x: hidden;
}
$grid: ( columns: 1, gutter: $grid-gutter, );
$grid--tablet: ( columns: 12, gutter: $grid-gutter, media: "(min-width: #{$medium-screen})", );
$grid--desktop: ( columns: 12, gutter: $grid-gutter, media: "(min-width: #{$large-screen})", );

.grid {
    @include grid-container;
    @include grid-collapse($grid);
}

// One Third
.col-1-3 {
    @include grid-column(1, $grid);
    @include grid-media($grid--tablet) {
         @include grid-column(4);
    }
    @include grid-media($grid--desktop) {
         @include grid-column(4);
    }
}

// 2 Thirds
.col-2-3 {
    @include grid-column(1, $grid);
    @include grid-media($grid--tablet) {
         @include grid-column(8);
    }
    @include grid-media($grid--desktop) {
         @include grid-column(8);
    }
}

// One Fourth
.col-1-4 {
    @include grid-column(1, $grid);
    @include grid-media($grid--tablet) {
         @include grid-column(6);
    }
    @include grid-media($grid--desktop) {
         @include grid-column(3);
    }
}

// One Half
.col-1-2, .col-2-4 {
    @include grid-column(1, $grid);
    @include grid-media($grid--tablet) {
         @include grid-column(6);
    }
    @include grid-media($grid--desktop) {
         @include grid-column(6);
    }
}

// 3 Thirds
.col-3-4 {
    @include grid-column(1, $grid);
    @include grid-media($grid--tablet) {
         @include grid-column(6);
    }
    @include grid-media($grid--desktop) {
         @include grid-column(9);
    }
}
