.container {
    @include margin(null auto);
    @include padding(null $base-spacing);
    max-width: 1200px;
}
$grid: ( columns: 1, gutter: $grid-gutter, );
$grid--tablet: ( columns: 3, gutter: $grid-gutter, media: "(min-width: #{$medium-screen})", );
$grid--desktop: ( columns: 12, gutter: $grid-gutter, media: "(min-width: #{$large-screen})", );

.grid {
    @include grid-container;
    @include grid-collapse($grid);
}

.col {
    @include grid-column(1, $grid);
    @include grid-media($grid--tablet) {
         @include grid-column(1);
    }
    @include grid-media($grid--desktop) {
         @include grid-column(4);
    }
}
