/****************************/
/*          HEADER          */
/****************************/
header {}

nav {
	@include clearfix;

	li,
	span,
	ul {
		float: left;
		margin-right: $base-spacing;
	}
}
/****************************/
/*          FOOTER          */
/****************************/
footer {
	padding: $base-spacing 0;
}
