body {
    margin: 0;
    padding: 0;
    background: $base-background-color;
}

section {
    padding: 0;
    margin: 0;
}

.content {
    text-align: center;
    padding: $base-spacing 0;
}

.grid{
    margin-bottom: $base-spacing;
}

.grid > div{
    padding: $base-spacing 0 $base-spacing/2;
    background: $light-gray;
}
