@import "neat-helpers";

$max-width: em(960px);

// Neat Breakpoints
$medium-screen: 600px;
$large-screen: 1024px;

$medium: new-breakpoint(min-width $medium-screen 8);
$large: new-breakpoint(min-width $large-screen 12);
