doctype html
html(lang="fr")
head
    include ./includes/head.pug

    title Spugss

body.home
    include ./includes/header.pug

    main.container(role="main")
        div.content
            h1  Welcome to Spugss
            
            h2 Pug &amp; Sass made easy !

            .grid
                .col
                    p 1st column
                .col
                    p 2nd column
                .col
                    p 3rd column

            button More

    include ./includes/footer.pug
