doctype html
html(lang="fr")
head
    include ./includes/head.pug

    title Spugss

body.home
    include ./includes/header.pug

    main.container(role="main")
        div.content
            h2  Welcome to Spugss
            div
                p Pug &amp; Sass made easy !
            a.button(href="https://github.com/tameroski/Spugss") More

    include ./includes/footer.pug
